@media (max-width: 1080px) {
    .navbar {
        width: auto;
    }

    .nav-link {
        margin-left: 0 !important;
    }

    .jb-banner {
        height: auto;
    }

    .jd-txt1 {
        margin-left: 150px;
    }

    .shadow {
        display: none;
    }

    .card-body {
        padding-left: 20px;
    }

    .card2 {
        width: 150%;
        height: auto;
    }

    .card3 {
        width: 120%;
        height: auto;
    }

    .card4 {
        width: 170%;
        height: auto;
        top: auto;
        margin: 0;
        position: relative;
    }

    .card5 {
        margin: 0;
        height: auto;
    }

    .card6 {
        position: relative;
        margin: 0;
        height: auto;
    }

    .jd-txt2 {
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ft-menu {
        padding-left: auto;
    }
}

@media (max-width: 990px) {
    .btn-full {
        display: none;
    }

    .btn-border {
        display: none;
    }
}

@media (max-width: 900px) {
    .txt-bs {
        word-break: break-all;
        max-width: 100%;
        display: inline-block;
    }

    .wrap-cm{
        width: auto;
    }

    .jd-txt1 {
        margin-left: 50px;
        margin-right: 20px;
    }

    .jb-txt {
        padding-left: 45px;
    }

    .col-md-4 {
        flex: 0 0 35%;
        max-width: 35%;
    }

    .col-md-8 {
        flex: 0 0 65%;
        max-width: 65%;
    }

    .card3 {
        width: 170%;
        height: auto;
    }

    .ft-menu {
        padding-left: 20px;
    }

    .hero {
        flex-direction: column;
    }

    .col-lg-5.content {
        order: -1;
    }

    .row-s3 {
        flex-direction: column;
        align-items: center;
    }

    .col-md-4 {
        width: 100%;
    }

    .col-md-4 {
        width: 100%;
    }

    .box{
        width: 40%;
        margin-left: 12px;
        margin-right: 12px;
    }

}

@media (max-width: 765px) {
    .jb-banner {
        width: auto;
        padding-right: 25px;
    }

    .txt-bs {
        word-break: normal;
        max-width: 100%;
        display: inline-block;
        font-size: 2.8rem;
        line-height: 45px;
    }


    .jd-txt1 {
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
    }

    .jd-txt2 {
        margin: 0 12px;
    }

    .col-md-4 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .card2 {
        Width: 60%;
    }

    .card3 {
        width: 50%;
        height: auto;
    }

    .card4 {
        width: 70%;
        top: auto;
        position: relative;
    }

    .card6 {
        position: relative;
        margin-top: auto;
    }

    .container {
        flex-direction: column;
    }

    .container > div {
        margin: 10px;
    }

    .box {
        margin: 0;
    }

    .box .card {
        margin: 10px;
    }

}

@media (max-width: 620px) {
    .navbar{
        width: 100%;
        margin-left: 12px;
        margin-right: 12px;
    }
    
    .jb-banner {
        width: 100%;
        margin-left: 12px;
        margin-right: 12px;
    }

    .col-md-4 {
        flex: 0 0 18%;
        max-width: 18%;
    }

    .card2 {
        Width: 100%;
    }

    .card3 {
        Width: 100%;
    }

    .card4 {
        Width: 100%;
        top: auto;
        position: relative;
    }

    .card6 {
        position: relative;
        margin-top: auto;
    }

    .ft-menu {
        padding-left: 20px;
    }

    .btn-border-me {
        margin-bottom: 10px;
    }
}

@media (max-width: 360px) {
    .txt-bs {
        word-break: break-all;
        max-width: 100%;
        display: inline-block;
    }

    .col-md-4 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}